*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: gilroy;
}
html,
body{
    height: 100%;
    width: 100%;
}
body{
    background-color: black;
    color: white;
    padding: 20px;
}
/* .box{
    height: 300px;
    width: 300px;
    background-color: rgb(255, 115, 0);
    border-radius: 20px;
    position: absolute;

    animation-name: move;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: alternate;

    animation-timing-function: linear;
} */

/* @keyframes move{
    0%{
        left: 0px;
        top: 0%;
        background-color: rgba(255, 166, 0, 0.76);
        rotate: 360deg;
    }
    /* 50%{
        left: 75%;
        top: 0%;
        background-color: green;
        animation-delay: 1s;
    } */
    /* 100%{
        left: 77%;
        top: 0%;
        background-color: burlywood;
    } */
/* } */ 
/* .box{
    height: 300px;
    width: 300px;
    background-color: rgb(255, 115, 0);
    border-radius: 20px;
} */
/* h1{
    font-size: 70px;
}
h1::after{
    content: 'like &';
    font-size: 30px;
    color: orange;
} */

/* .circle{
    height: 300px;
    width: 300px;
    background-color: rgb(255, 115, 0);
    border-radius: 50%;
} */
/* .box1{
    height: 150px;
    width: 150px;
    background-color: rgb(255, 60, 0);
    border-radius: 10%;
    margin-bottom: 10px;
}
.box2{
    height: 150px;
    width: 150px;
    background-color: rgb(145, 255, 0);
    border-radius: 10%;
    margin-bottom: 10px;
}
.box3{
    height: 150px;
    width: 150px;
    background-color: rgb(0, 255, 136);
    border-radius: 10%;
} */

/* .page1{
    height: 100%;
    width: 100%;
    background-color: rgb(64, 66, 66);
    display: flex;
    align-items: center;
    justify-content: center;
}
.page2{
    height: 100%;
    width: 100%;
    background-color: rgb(104, 113, 113);
    display: flex;
    align-items: center;
    justify-content: center;
}
.page3{
    height: 100%;
    width: 100%;
    background-color: rgb(57, 61, 61);
    display: flex;
    align-items: center;
    justify-content: center;
}
.box4{
    height: 300px;
    width: 300px;
    background-color: orange;
    border-radius: 10px;
}

.page11{
    height: 100vh;
    width: 100%;
    background-color: rgb(60, 58, 54);
}
.page22{
    height: 100vh;
    width: 100%;
    background-color: rgb(87, 87, 86);
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.page33{
    height: 100vh;
    width: 100%;
    background-color: rgb(151, 151, 148);
}
.box111{
    height: 300px;
    width: 300px;
    background-color: orangered;
    border-radius: 10px;
} */

.swiper{
    height: 100%;
    width: 100%;
    background-color: rgb(49, 46, 46);
    padding: 10px;
}
.swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
}
.next{
    position: absolute;
    top: 50%;
    right: 5%;
    background-color: crimson;
    padding: 5px 10px;
    transform: translate(0, -50%);
    border-radius: 5px;
    z-index: 99;
}
